@import "./whitepaper";

@import "./teampage/team";

@import "./index/index";

body{
    //background-color: green;
    height: 100vh;
    margin: 0;
    //font-family: ;
}

h1 {
    font-size: 5em;
}
