// Background img
.lending-body {
  background-image: url("../images/lending-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
 // min-height: min-content;
  width: 100vw;
  transition: color 0.5s ease-out;
  //padding-bottom: 25vh;
  overflow-x: hidden;
}

.liquidityTerm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  button {
    padding: 10px;
    transform: translateX(-30px);
    margin: 10px;
    background-color: #334a4e;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    &:hover {
      background-color: #618c94;
    }
  }
}

// Lending title
.lending-title h1 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin: 0 auto;
  padding: 80px;
  text-align: center;
}

// Lending nav buttons
.lending-nav-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  padding: 60px;
  background-color: black;
  border-radius: 30px;
  margin-bottom: 40px;
}

.lending-nav-buttons button {
  padding: 10px;
  margin: 20px;
  background-color: #334a4e;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

// Borrow interface

.lending-container-borrow {
  width: 300px;
  margin: 0 auto;
  background-color: black;
  padding: 60px;
  border-radius: 30px;
  color: white;
  justify-content: center;
  margin-bottom: 20px;
}

.lending-container-borrow h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.lending-container-borrow-amount {
}

.lending-container-borrow-amount h3 {
}

.lending-container-borrow-amount input {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.lending-container-borrow-collateral {
}

.lending-container-borrow-collateral h3 {
}

.lending-container-borrow-collateral label {
  font-family: "Montserrat", sans-serif;
}

.lending-container-borrow-collateral input {
  padding: 5px;
}

.lending-container-borrow-credentials {
}

.lending-container-borrow-credentials h3 {
}

.lending-container-borrow-credentials label {
  font-weight: 600;
}

.lending-container-borrow-credentials input {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.lending-container-borrow-credentials button {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #334a4e;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

// Lend interface

// Repay interface

.lending-container-borrow {
  transition: 2s ease;
}

.lending-container-borrow:has(.lending-container-borrow-title) {
  height: 60rem;
  overflow: hidden;
}
