footer {
  display: none;
}
#tp-body {
  background-image: url(/website/images/team.avif);
  background-size: cover;
}
#tp-meetTeamTxt {
  text-align: center;
  color: white;
  margin-bottom: 2%;
  font-size: 3rem;
  padding-top: 2rem;
}
#tp-line {
  background-color: white;
  height: 2px;
  border-radius: 200%;
  margin-bottom: 2%;
  margin-bottom: 3rem;
}
#tp-content {
  display: block;
  margin: auto;
  height: 80%;
  width: 80%;
}
#tp-profilePics {
  display: flex;
  flex-grow: 1;
  gap: 2rem 2rem;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 70%;
}
.tp-profileBox {
  border-radius: 10px;
  backdrop-filter: blur(20px) contrast(70%) brightness(150%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  border-radius: 2.5rem;
  align-items: center;
  text-align: center;
  overflow: hidden;

  .tp-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  p {
    margin-top: 0;
  }
}

.Zoom.show.extraInfo {
  height: 30rem;
}

.Zoom.show > div {
  display: none;
  filter: blur(5);
}

.Zoom.show.extraInfo > div {
  display: block;
}
