footer {
  display: none;
}
#tp-body {
  background-image: url(/website/images/team.avif);
  background-size: cover;
}
#tp-meetTeamTxt {
  text-align: center;
  color: white;
  margin-bottom: 2%;
  font-size: 2.5rem;
}
#tp-line {
  background-color: white;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  margin-bottom: 2%;
}
#tp-content {
  display: block;
  margin: auto;
  height: 80%;
  width: 80%;
}
#tp-profilePics {
  display: flex;
  gap: 2rem 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 70%;
  margin-bottom: 3rem;
}
.tp-profileBox {
  border-radius: 10px;
  backdrop-filter: blur(20px) contrast(70%) brightness(150%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 35%;
  padding: 2rem;
  border-radius: 5%;
  align-items: center;
  text-align: center;

  .tp-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  p {
    margin-top: 0;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(167, 167, 176), 0 0 0.2em white;
  }
  
}

.tp-hidden {
  opacity: 0;
  filter: blur(3px);
  transition: ease-in 1s;
}
.tp-hidden.tp-translateY {
  transform: translateY(+100%);
}

.tp-hidden.tp-translateX {
  transform: translateX(+100%);
}

.tp-show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transform: translateX(0);
}
