body {
  margin: 0px;
}
footer {
  display: none;
}

#wp-articleHeading {
  filter: drop-shadow(5px 5px 5px #5e3535);
  padding: 3rem;
  // text-shadow: 2px 2px black;
  // background-color: #31203a;
  // max-width: max-content;
  // max-height: max-content;
  //align-self: center;
}
.wp-bookshelfBg {
  height: min-content;
  background-image: url(../images/bookshelf.jpg);
  background-size: 200rem;
  font-family: "Syne", sans-serif;
  min-height: 100vh;


  .wp-article {
    background-color: #200ba782;
    backdrop-filter: blur(5px) contrast(100%) brightness(150%);
    color: #e5c3d1;
    padding: 10px;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
    min-height: 100vh;

    .wp-articleContent {
      border: 10px #5c4ae4 outset;
      border-bottom: 10px  #2d2474 outset;
      border-top: none;
      border-left: none;
      padding: 10px;
      border-radius: 50px;
      background-color: #a13956;
      color: #c8c9e0;
      padding: 3rem;
      }
      .wp-title {
        display: flex;
        flex-direction: row;
        img {
          margin-left: 30px;
          margin-top: 10px;
          height: 70px;
          width: 80px;
        }
      }
      h2 {
        font-size: 2em;
        text-decoration: underline;
      }
      h3 {
        font-size: 1.5em;
        text-decoration: underline;
        cursor: pointer;
        button {
          margin-right: 40px;
          height: 40px;
          width: 40px;
          font-size: 30px;
          background-color: black;
          color: white;
          border-radius: 10px;
          border: 0px;
          cursor: pointer;
          border-bottom: #837078 3px outset;
          border-right: #e5c3d1 3px outset;
        }
        &:hover .button{
          border-bottom: 0px;
          border-right: 0px;
          border-left: #e5c3d1 3px inset;
          border-top: #837078 3px inset;
        }
      }
      h4 {
        font-size: 1.2em;
        text-decoration: underline;
        text-indent: 40px;
      }
      .wp-h4p {
        margin-left: 40px;
      }
      .wp-textDiv {
        display: none;
        p {
          padding-left: 50px;
          padding-right: 100px;
          color: rgb(213, 213, 213);
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 1.3em;
        }
      }
    }
  }

.wp-logo {
  height: auto;
  width: 30rem;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
#wp-SQR-logo {
  background-color:#d5d5e1;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;

}
